.container{

    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    max-width: 350px;
    margin: auto;
    padding: 20px;

    border-radius: 10px;
    
}

h1{
    text-align:center;
}

input{
    width: 100%;
    display:block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}